<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944903645044-8ii7oo3duon50q135dsmov1qre6cu2kk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944903645044-8ii7oo3duon50q135dsmov1qre6cu2kk</string>
	<key>API_KEY</key>
	<string>AIzaSyDvDOCJFvjTywbnklQqnCn9IdTm7Dw3mag</string>
	<key>GCM_SENDER_ID</key>
	<string>944903645044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amatree.clocknroll</string>
	<key>PROJECT_ID</key>
	<string>clock-n-roll</string>
	<key>STORAGE_BUCKET</key>
	<string>clock-n-roll.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944903645044:ios:395540a40bee8796c1ee21</string>
</dict>
</plist>